body {
	background: linear-gradient(-45deg, #515558, #2d3134);
	background-size: 400% 400%;
	height: 100vh;
	font-family: Lato, sans-serif;
	font-weight: 300;
}

img {
    margin: 0;
    padding: 0;
}

h1 {
	font-weight: normal;
	margin-top: 40px;
	text-align: center;
}

h2 {
	font-weight: normal;
	margin: 40px 0 20px 100px;
	text-align: left;
}

a {
  text-decoration: none; /* Remove the default underline */
  color: grey; /* Link color */
  position: relative; /* Required for pseudo-element positioning */
  margin: 0 10px;
}

button a {
  color: white;
}

a::after {
  content: ''; /* Create an empty pseudo-element */
  display: block;
  width: 0;
  height: 2px; /* Set the initial underline height */
  background-color: #40504e; /* Underline color */
  position: absolute;
  bottom: -2px; /* Position the underline below the text */
  left: 0;
  transition: width 0.3s ease; /* Add a smooth transition */
}

a:hover::after {
  width: 100%; /* Expand the underline on hover */
}

button {
  cursor: pointer;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
    color: #404040;
}

#content, #top, #footer {
    width: 1600px;
    margin: 0 auto;
    position: relative;
}

#content {
  -webkit-box-shadow: 0 0 31px 12px rgb(0 0 0 / 4%); 
  box-shadow: 0 0 31px 12px rgb(0 0 0 / 4%);
}

#top {
	height: 70px;
}

.logo {
	margin-top: 20px;
	margin-left: 20px;
	display: block;
	float: left;
}

.logo img {
  height: 40px;
}

#content {
	background-color: #fff;
	min-height: 700px;
	text-align: center;
	position: relative;
  display: block;
	padding-top: 1px;
}

.spcr {
	clear: both;
}

form {
	width: 260px;
	margin: 0 auto;
	position: relative;
  display: block;
}

form label, form input, form button, select{
	width: 100%;
}


form input, form button, button, select{
	margin-bottom: 20px;
	height: 35px;
}

form input, form select {
  border-style: solid;
  border-width: 1px;
  background-color: rgb(251 251 251 / 50%);
  box-shadow: inset 0 3px 21px 0 rgb(0 1 1 / 10%);
  border-radius: 10px;
  margin: 5px;
  width: 80%;
  text-align: center;
}

#remember_me {
  width: 20px;
  height: 20px;
}

form button, button {
  border-style: solid;
  border-width: 0;
  background-color: #40504e;
  border-radius: 10px;
  color: white;
}

#footer {
	color: #fff;
	text-align: right;
}

#footer span {
	padding: 10px;
}

/* menu */
#nav-bar {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 40px;
}

#nav-bar a {
    text-decoration: none;
    display: inline-block;
    margin: 0;
    padding: 0 20px;
    color: white;
    position: relative; /* Required for positioning the pseudo-element */
    overflow: hidden; /* This ensures the pseudo-element does not show outside the boundary of the link */
}

#nav-bar a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px; /* adjust the height for desired underline thickness */
    background-color: white; /* adjust the color for desired underline color */
    transition: width 0.3s;
}

#nav-bar a:hover::after {
    width: 100%; /* This causes the underline to appear and slide in from the left */
}

/* Dropdown Button */
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #515558;
  padding: 10px 0;
  margin-top: 8px;
  z-index: 1;
  box-shadow: #404040 0 0 2px 0 ;
  min-width: 100%;
  text-align: center;
  left: -70px;
  box-shadow: rgba(84, 86, 87, 0.2) 0 0 10px 2px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(255, 255, 255) !important;
  text-decoration: none;
  display: block;
  width: 75px;
  height: 30px;
  line-height: 30px;
}

/* Change color of dropdown links on hover with animation*/
.dropdown-content a:hover {
  background-color: #515558;
  transition: all 0.3s ease;
}

.dropdown-content::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  z-index: -1; /* Ensure it's beneath the actual content */
  pointer-events: auto;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  
}

.userLink {
  color: orange !important;
}
/* end menu */


/* icons */
.icon {
  width: 14px;
  height: 14px;
  margin: 0;
  padding: 0;
  display: inline-block;
}

/* end icons */

.textlink {
  display: inline-block;
  margin: 0 5px;
}

.error {
  color: red;
}

.message {
  color: green;
}

.hidden {
  display: none;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}



/* CSS for the training table */

#trainingForm {
  width: 90%;
}

.addDay, .savePlanBtn {
  width: 52%;
  margin: 10px;
}

.savePlanBtn {
  margin-bottom: 100px;
}

.trainingDay button {
  width: 100px;
  margin: 10px;
}

table {
  table-layout: fixed;
  margin-bottom: 40px;
}

table th, table td {
  padding: 10px;
}

.trainingTable th:nth-child(1) {
  width: 2%;
}

.trainingTable th:nth-child(2) {
  width: 35%;
}

.trainingTable th:nth-child(3) {
  width: 7%;
}

.trainingTable th:nth-child(4) {
  width: 7%;
}

.trainingTable th:nth-child(5) {
  width: 7%;
}

.trainingTable th:nth-child(6) {
  width: 7%;
}

.trainingTable th:nth-child(7) {
  width: 23%;
}

.trainingTable th:nth-child(8) {
  width: 12%;
}

.setRow, .inputSetRow {
  background-color: orange !important;
}

.setRow {
  color: #fff;
  font-weight: 500;
  font-size: 1.2em;
}


/* Style alternate row background colors */
table tbody tr:nth-child(even) {
  background-color: #f2f2f2; 
}

.tfootAddExercise {
  text-align: center;
}

.addExercise {
  width: 300px;
  margin-bottom: 50px;
}


tbody button {
  margin-top: 14px;
  height: 30px;
  width: 90%;
  margin-top: -2px;
}

.edit-button, .delete-button, .confirm-button {
  margin-top: 14px;
  height: 30px;
  width: 40% !important;
  margin: 5px !important;
}

.trainingDay {
  border: 1px dashed #c4c4c4;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 60px;
  box-shadow: 0 0 10px 5px rgb(0 0 0 / 4%);

}

.viewplan {
  width: 90%;
  margin: 0 auto;
}

.adminTable form input[type="text"],
.adminTable form input[type="email"],
.adminTable form input[type="password"],
.adminTable form input[type="submit"],
.adminTable form input[type="button"] {
    background: none;
    border: none;
    padding: 0;
    color: grey; /* Set your desired link color */
    text-decoration: underline;
    cursor: pointer;
}

.grid {
  position: relative;
  width: 95%;
  margin: 0 auto;
  display: block;
  overflow: hidden;
}

.section {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 100%;
  min-height: 200px;
  border: 2px dashed #c4c4c4;
  text-align: left;
  border-radius: 20px;
}

.two-thirds {
  width: calc(66.66% - 10px); 
  float: left;
  min-height: 100%;
  margin-right: 20px; 
}

.one-third {
  width: calc(33.33% - 10px);
  float: left;
  min-height: 100%;
}

.fifty-fifty {
  width: calc(50%);
  float: left;
  min-height: 200px;
}

.admin-left {
  width: 180px;
  float: left;
  height: 100%;
  margin-right: 20px;
  display: block;
  position: relative;
}

.admin-right {
  width: calc(100% - 200px);
  display: block;
  position: relative;
  float: left;
  height: 100%;
}

.admin-nav {
  background-color: orange;
  
}

.admin-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  
}

.admin-nav ul li {
  border-bottom: 1px solid #fff;
}

.admin-nav ul li a {
  display: block;           /* Makes the <a> take the entire space of the <li> */
  padding: 10px;            /* Moved the padding from <li> to <a> */
  color: #fff;
  text-decoration: none;
  transition: all 1s ease;
}

.admin-nav ul li a:hover {
  background-color: #fff; /* Add some hover background effect, if desired */
  color: orange;
  transition: all 0.1s ease;
}

.admin-nav ul li a::after {
  width: 0;
}

#addUser {
  width: 100% !important;
  margin: 0 auto;
  margin-bottom: 20px;

}

#addUser input {
  width: 200px;
  
}

#addUser label, #addUser select {
  width: 200px;
  display: inline-block;
}

#addUser button {
  margin-top: 40px;
  width: 200px;
}

.dbview {
  table-layout: fixed;
}

.dbview th, .dbview td {
  width: 172px;
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
}

.myPlansTable {
  width: 100%;
}